/* main-header-documentation {
  margin-bottom: var(--space-5);
}

main-title-documentation {
  font-size: var(--fs-h2);
  font-weight: 700;
  letter-spacing: var(--ls-h2);
  margin-bottom: var(--space-2);
}

main-description-documentation {
  color:rgba(75, 85, 99, 1);
  font-size: var(--fs-body);
  font-weight: 400;
  line-height: var(--lh-body);
  color: var(--color-ink);
} */